<div class="info-loan">
  <h4 style="padding: 5px 0px; margin-bottom: 5px">Loan information</h4>
  <form id="slip" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="10" nzRequired nzFor="user">User</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzSpan="10">
        <input nz-input formControlName="user" id="user" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="28" nzRequired nzFor="librarian">Librarian</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="28">
            <nz-select 
              nzAllowClear
              formControlName="librarian" 
              nzPlaceHolder="Select a librarian" 
            >
              <nz-option 
                *ngFor ="let librarian of librarians" 
                nzLabel= {{librarian.fullName}} 
                nzValue="{{librarian.idLibrarian}}">
              </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="borrowTime">Borrow time</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-range-picker formControlName="borrowTime" id="borrowTime"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="quantity">Quantity</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" nz-input formControlName="quantity" id="quantity" disabled />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">Status</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="status" id="status" />
        </nz-form-control>
      </nz-form-item>
    </nz-form-item>
  </form>
</div>
<div style="display: flex; margin-bottom: 20px;">
  <h4 style="flex-grow: 1; margin: 0 !important;align-self: center">List of book</h4>
  <form style="flex-grow: 1; text-align: -webkit-right; max-width: 370px;" nz-form [formGroup]="validateForm"
    (keydown)="searchByBarcode($event)">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <div style="display: flex; flex-direction: row;">
        <label style="padding: 5px ; margin: 0 !important; font-weight: bold">Barcode:</label>
        <input style="border-radius: 4px !important; text-align: left" type="text" nz-input
          placeholder="Barcode of book you want to add" id="search" />
      </div>
    </nz-input-group>
  </form>
</div>

<nz-table 
  nzBordered 
  #editRowTable 
  [nzPageSize]="5" 
  [nzData]= "books" 
  [nzScroll]="{ x: '900px'}"
  style="white-space: nowrap"
  >
  <thead>
    <tr>
      <th nzWidth="4%" class="center">#</th>
      <th nzWidth="20%">Book Id</th>
      <th>Book name</th>
      <th nzWidth="25%">Author</th>
      <th nzWidth="10%" class="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookDetail of editRowTable.data; let index = index">
      <td>
        <p>{{index + 1 }}</p>
      </td>
      <td>{{ bookDetail.book.idBook }}</td>
      <td>{{ bookDetail.title }}</td>
      <td style="word-wrap:break-word">{{ bookDetail.description }}</td>
      <td class="actions">
        <span><i (click)="deleteBook(bookDetail.book.idBook)" title="Delete" class="fa fa-trash del"></i></span>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="footer-btn">
  <button nz-button (click)="resetForm($event)">Reset</button>
  <button nz-button nzType="primary" form="slip" (click)="save($event)">Save</button>
</div>
